
    <header class="h-1/4 border flex justify-center bg-[url('https://img.freepik.com/foto-gratis/concepto-material-madera-textura-papel-pintado-fondo_53876-42925.jpg')]">
        <div class="w-4/5">
            <div class="flex flex-row my-8 justify-around">
                <img src="https://i.ibb.co/sCR4JfW/FIAMBRERIA.png" class="h-48 " alt="Logo fiambreria">
                <div class="flex items-center">
                    <div class="flex flex-col lg:flex-row text-center gap-10">
                        <a href="#"><p class="text-2xl font-bold hover:underline text-slate-200">Precios</p></a>
                        <a href="#"><p class="text-2xl font-bold hover:underline text-slate-200">Promociones</p></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
